.div-login {
  padding: 20px;
  align-items: center;
  text-align: center;
}
.div-login input {
  border-radius: 20px;
  padding: 15px;
}
div{
    align-items: center;
}
button {
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: beige;
    
}